<md-sidenav class="md-whiteframe-z2"  md-component-id="left">
	<md-toolbar  class="md-tall">
		<span flex></span>
		<img ng-click = "navigateTo()" class="clickable navigation-header" src="{{ImageOrganizer.headerLogo}}"/>
	</md-toolbar>
	<md-content class="md-padding side-bar">
		<md-list class="list">
			<h2 ng-click = "navigateTo('gallery')" class="clickable"><span ng-class="{'gallery-selected':state.$current.name==='home'||state.$current.name==='home.gallery'}">&nbsp&nbsp&nbsp&nbspgallery&nbsp&nbsp&nbsp&nbsp</span></h2>
		</md-list>
		<md-list class="list">
			<h2 ng-click = "navigateTo('services&prices')" class="clickable"><span  ng-class="{'services-selected':state.$current.name==='services'}">&nbsp&nbsp&nbsp&nbspservices & prices&nbsp&nbsp&nbsp&nbsp</span></h2>
		</md-list>
		<md-list class="list">
			<h2 ng-click = "navigateTo('aboutme')" class="clickable"><span ng-class="{'contact-selected':state.$current.name==='aboutme'}">&nbsp&nbsp&nbsp&nbspabout me&nbsp&nbsp&nbsp&nbsp</span></h2>
		</md-list>
		<md-list class="list">
			<h2 ng-click = "navigateTo('blog')" class="clickable"><span>&nbsp&nbsp&nbsp&nbspblog&nbsp&nbsp&nbsp&nbsp</span></h2>
		</md-list>
		<md-list class="list">
			<h2 ng-click = "navigateTo('contact')" class="clickable"><span ng-class="{'gallery-selected':state.$current.name==='contact'}">&nbsp&nbsp&nbsp&nbspcontact &nbsp&nbsp&nbsp&nbsp</span></h2>
		</md-list>
	</md-content>
</md-sidenav>
<!-- <div ng-hide="true" layout="column" tabindex="-1" role="main" flex>
	<md-toolbar class="md-tall md-whiteframe-glow-z2 md-default-theme">
		<span flex></span>
		<div class="md-toolbar-tools" tabindex="-1" role="button">
			<md-button ng-click="toggleMenu()" ng-if="!$mdMedia('lg') && !$mdMedia('gt-lg')" class="md-icon-button" aria-label="Navigation">
				<i class="fa fa-reorder"></i>
	        </md-button>
			<h2>
				<span ng-click = "navigateTo()" class="clickable" ng-class = "{mainTitle:$mdMedia('lg') || $mdMedia('gt-lg')}">Eden And Me Photography</span>
			</h2>
			<div layout="row" flex class="fill-height">
				<span class = 'information-toolbar' ng-if="$mdMedia('lg') || $mdMedia('gt-lg')">
					<a ng-click = "navigateTo('gallery')" class="clickable" ng-class="{selected:state.$current.name==='home'||state.$current.name==='home.gallery'}"> Gallery</a>
					<a ng-click = "navigateTo('services&prices')" class="clickable"  ng-class="{selected:state.$current.name==='services'}"> Services & Prices</a>
					<a ng-click = "navigateTo('contact')" class="clickable"  ng-class="{selected:state.$current.name==='contact'}"> Contact</a>
				</span>
			</div>
		</div>
	</md-toolbar>
	<div ui-view></div>	
</div> -->
<div class = "main-header" ng-class="{'large-header-padding':isLarge()}">
	<div class = "header-title">
		<img ng-click = "navigateTo()" class="clickable header-image" src="{{ImageOrganizer.headerLogo}}"/><!-- <span ng-click = "navigateTo()" class="clickable">Eden And Me Photography</span> -->
	</div>
	<div class="navigation-links" ng-if="isLarge()">
		<div class = "contact">
			<div ng-click = "navigateTo('contact')" class="clickable" ng-class="{selected:state.$current.name==='contact'}"> &nbsp&nbsp&nbsp&nbspc<div >ontact&nbsp&nbsp&nbsp&nbsp</div></div>
		</div>
		<div class = "blog">
			<div ng-click = "navigateTo('blog')" class="clickable" ng-class="{selected:state.$current.name==='blog'}"> &nbsp&nbsp&nbsp&nbsp b<div >log &nbsp&nbsp&nbsp&nbsp</div></div>
		</div>
		<div class = "about">
			<div ng-click = "navigateTo('aboutme')" class="clickable" ng-class="{selected:state.$current.name==='aboutme'}"> &nbsp&nbsp&nbsp&nbsp a<div >bout me&nbsp&nbsp&nbsp&nbsp</div></div>
		</div>
		<div class = "services">
			<div ng-click = "navigateTo('services&prices')" ng-class="{selected:state.$current.name==='services'}" class="clickable" > &nbsp&nbsp&nbsp&nbsps<div>ervices & prices&nbsp&nbsp&nbsp&nbsp </div></div>
		</div>
		<div class = "gallery">
			<div ng-click = "navigateTo('gallery')" class="clickable" ng-class="{selected:state.$current.name==='home'||state.$current.name==='home.gallery'}"> &nbsp&nbsp&nbsp&nbspg<div >allery&nbsp&nbsp&nbsp&nbsp</div></div>
		</div>
	</div>

	<div ng-click="toggleMenu()" ng-if="!isLarge()" class="hamburger-button clickable" aria-label="Navigation">
		<i class="ion-navicon-round"></i>
    </div>
</div>