<md-sidenav class="md-whiteframe-z2"  md-component-id="left">
	<md-toolbar  class="md-tall">
		<span flex></span>
		<h1 class="md-toolbar-tools">
			Navigation
		</h1>
	</md-toolbar>
	<md-content class="md-padding">
		<md-list class="list">
			<h2 ng-click = "navigateTo('gallery')"  ng-class="{selected:currentPage==='/'}" class="clickable">Gallery</h2>
		</md-list>
		<md-list class="list">
			<h2 ng-click = "navigateTo('services&prices')"  ng-class="{selected:currentPage==='/services&prices'}" class="clickable">Services & Prices</h2>
		</md-list>
		<md-list class="list">
			<h2 ng-click = "navigateTo('contact')" class="clickable"  ng-class="{selected:currentPage==='/contact'}">Contact</h2>
		</md-list>
	</md-content>
</md-sidenav>
<div layout="column" tabindex="-1" role="main" flex>
	<md-toolbar class="md-tall md-whiteframe-glow-z2 md-default-theme">
		<span flex></span>
		<div class="md-toolbar-tools" tabindex="-1" role="button">
			<md-button ng-click="toggleMenu()" ng-if="$mdMedia('sm') || $mdMedia('md')" class="md-icon-button" aria-label="Navigation">
				<i class="fa fa-reorder"></i>
	        </md-button>
			<h2>
				<span ng-click = "navigateTo()" class="clickable" ng-class = "{mainTitle:!$mdMedia('sm') && !$mdMedia('md')}">Eden And Me Photography</span>
			</h2>
			<div layout="row" flex class="fill-height">
				<span class = 'information-toolbar' ng-if="!$mdMedia('sm') && !$mdMedia('md')">
					<a ng-click = "navigateTo('gallery')" class="clickable" ng-class="{selected:currentPage==='/'}"> Gallery</a>
					<a ng-click = "navigateTo('services&prices')" class="clickable"  ng-class="{selected:currentPage==='/services&prices'}"> Services & Prices</a>
					<a ng-click = "navigateTo('contact')" class="clickable"  ng-class="{selected:currentPage==='/contact'}"> Contact</a>
				</span>
			</div>
		</div>
	</md-toolbar>
	<div ui-view></div>	
</div>