<md-grid-list
			md-cols-sm="5" md-cols-md="7" md-cols-gt-md="9"
	        md-row-height-gt-md="1:1" md-row-height="1:1"
	        md-gutter="8px" md-gutter-gt-sm="4px" >
	<md-grid-tile ng-if="isLarge()" ng-repeat="image in ImageOrganizer.galleryImagesLarge"
				md-rowspan="{{image.span.row}}"
				md-colspan="{{image.span.col}}"
				ng-class="image.background" >
		<!-- <div back-img="{{item.src}}" class="image" ></div> -->
		<img ng-if="image.src" ng-src="{{image.src}}" class="image clickable" ng-click="showAdvanced($event, image, ImageOrganizer.galleryImagesLarge)">
		<div ng-if="!image.src" ng-class="image.box" class="box"></div>
	</md-grid-tile>
	<md-grid-tile ng-if="isMedium()" ng-repeat="image in ImageOrganizer.galleryImagesMedium"
				md-rowspan="{{image.span.row}}"
				md-colspan="{{image.span.col}}"
				ng-class="image.background" >
		<!-- <div back-img="{{item.src}}" class="image" ></div> -->
		<img ng-if="image.src" ng-src="{{image.src}}" class="image clickable" ng-click="showAdvanced($event, image, ImageOrganizer.galleryImagesMedium)">
		<div ng-if="!image.src" ng-class="image.box" class="box"></div>
	</md-grid-tile>
	<md-grid-tile ng-if="isSmall()" ng-repeat="image in ImageOrganizer.galleryImagesSmall"
				md-rowspan="{{image.span.row}}"
				md-colspan="{{image.span.col}}"
				ng-class="image.background" >
		<!-- <div back-img="{{item.src}}" class="image" ></div> -->
		<img ng-if="image.src" ng-src="{{image.src}}" class="image clickable" ng-click="showAdvanced($event, image, ImageOrganizer.galleryImagesSmall)">
		<div ng-if="!image.src" ng-class="image.box" class="box"></div>
	</md-grid-tile>
</md-grid-list>
