<div class = "wrapper" ng-class="{'padding-not-small':!isSmall()}">
  <center class="contact-info-header">Contact Me</center>
  <md-card class="no-box-shadow">
    <md-card-content class="middle" ng-class="{'middle-small':isSmall()}" md-theme="default">
        <div class="information background-pic">
            <p>
                To Contact Me Directly:
                <br> 
                Phone: 801-995-1204   \ Email: edenandmephoto@gmail.com <br>
            </p>
            <form name="contactForm">
                <md-input-container md-no-float class="md-block" class="md-primary">
                    <label>Name</label>
                    <input required ng-model="Request.Name">
                </md-input-container>
                <div layout layout-sm="column" layout-md="column">
                    <md-input-container flex class="md-primary">
                        <label>Email</label>
                        <input required ng-model="Request.Email" type="email">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Phone</label>
                        <input required ng-model="Request.Phone">
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Message</label>
                    <textarea required ng-model="Request.Message" columns="1" md-maxlength="200" rows="5"></textarea>
                </md-input-container>
                <md-button  class="md-primary" type="Submit" ng-click="SendMessage()">Submit</md-button>
                <div class="extra" >
                    <a href="https://www.facebook.com/eandtay/" target="_blank"><img class="small-icon" src="assets/images/facebookicon.jpg"/></a>
                    <a href="https://www.pinterest.com/taymore/eden-and-me-photography/" target="_blank"><img class="small-icon" src="assets/images/pinterest.jpg"/></a>
                </div>
            </form>
        </div>
    </md-card-content>
  </md-card>
</div>