<div class = "wrapper">
  <md-card class="no-box-shadow">
    <md-card-content class="middle">
        <img src="{{selectedPicture.src}}" ng-if="isLarge()" class="image profile-pic"/>
        <div class="information">
            <h2 class="md-title pink-underline">Contact Me!</h2>
            <p class = "yellow">
                Interested in some picture services?!
                <br> 
                Email me at: edenandmephoto@gmail.com <br>
                or Call me at: 801-995-1204
            </p>
            <div ng-if="!isLarge()" class="small-pic" ng-class="{'medium-pic':isMedium()}">
                <img src="{{selectedPicture.src}}" class="image profile-pic"/>
                <div class="clearfix"></div>
            </div>
            <h2 class="md-title green-underline">About Me</h2>
            <p class = "blue smaller-line-height">
                Hello, my name is Taylor!
                I am currently located in the Seattle, Washington area. I have been studying art and making photographs for the last four years. I just graduated from Brigham Young University with my Bachelor's in Visual Arts: Photography.
                <br><br>
                I am married to my Prince Charming, and am currently living out the "happily ever after" portion to my fairytale.
                I am a mother to two boys. My eldest is Eden and then there's my wonderful Liam. My dear Eden passed away a few years ago. I named my photography business after him shortly after losing him, and it just stuck. Hello, Eden and Me Photography!
                <br><br>
                I love my family, books, and nature. I also absolutely love a good adventure or two for photography's sake.
            </p>
        </div>
    </md-card-content>
  </md-card>
</div>