<div class="wrapper small small-padding" ng-class="{'large':!$mdMedia('sm') && !$mdMedia('md')}" ng-show="!hide">
	<h1 class="price-title">The Price Tag</h1>
	<md-grid-list ng-if="!isSmall()"
			md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
	        md-row-height-gt-md="1:1" md-row-height="1:1"
	        md-gutter="8px" md-gutter-gt-sm="4px" >
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['family'].image}}" class="image">
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['family'].background"  ng-repeat-end
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content">
				<h3 class="title">{{ImageOrganizer.servicesImages['family'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['family'].text.price}}</span><span class = "tax"> (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['family'].text.info">
					{{text}}<br>
				</span>
			</div>
			
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['portrait'].background"
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content">
				<h3 class="title">{{ImageOrganizer.servicesImages['portrait'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['portrait'].text.price}}</span><span class = "tax"> (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['portrait'].text.info">
					{{text}}<br>
				</span>
			</div>
		</md-grid-tile>
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['portrait'].image}}" class="image ">
		</md-grid-tile>
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['newborn'].image}}" class="image ">
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['newborn'].background"
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content" ng-class="{'small-text':!isLarge()}">
				<h3 class="title">{{ImageOrganizer.servicesImages['newborn'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['newborn'].text.price}}</span><span class = "tax"> (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['newborn'].text.info">
					{{text}}<br>
				</span>
			</div>
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['wedding'].background"
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content" ng-class="{'small-text':!isLarge()}">
				<h3 class="title">{{ImageOrganizer.servicesImages['wedding'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['wedding'].text.price}}</span><span class = "tax"> (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['wedding'].text.info">
					{{text}}<br>
				</span>
			</div>
		</md-grid-tile>
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['wedding'].image}}" class="image ">
		</md-grid-tile>
	</md-grid-list>
	<md-grid-list ng-if="isSmall()"
		md-cols-sm="3" md-cols-md="6" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="8px" md-gutter-gt-sm="4px">
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['family'].image}}" class="image ">
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['family'].background"  ng-repeat-end
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content" ng-class="{'small-text':!isLarge()}">
				<h3 class="title">{{ImageOrganizer.servicesImages['family'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['family'].text.price}}</span><span class = "tax">&nbsp (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['family'].text.info">
					{{text}}<br>
				</span>
			</div>
		</md-grid-tile>
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['portrait'].image}}" class="image ">
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['portrait'].background"
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content" ng-class="{'small-text':!isLarge()}">
				<h3 class="title">{{ImageOrganizer.servicesImages['portrait'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['portrait'].text.price}}</span><span class = "tax">&nbsp (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['portrait'].text.info">
					{{text}}<br>
				</span>
			</div>
		</md-grid-tile>
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['newborn'].image}}" class="image ">
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['newborn'].background"
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content" ng-class="{'small-text':!isLarge()}">
				<h3 class="title">{{ImageOrganizer.servicesImages['newborn'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['newborn'].text.price}}</span><span class = "tax">&nbsp (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['newborn'].text.info">
					{{text}}<br>
				</span>
			</div>
		</md-grid-tile>
		<md-grid-tile
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<img ng-src="{{ImageOrganizer.servicesImages['wedding'].image}}" class="image ">
		</md-grid-tile>
		<md-grid-tile ng-class="ImageOrganizer.servicesImages['wedding'].background"
					md-rowspan="2"
					md-colspan="3" >
			<!-- <div back-img="{{item.src}}" class="image" ></div> -->
			<div class="info-content" ng-class="{'extra-small-text':!isLarge()}">
				<h3 class="title">{{ImageOrganizer.servicesImages['wedding'].text.title}}</h3>
				<span><span class="price"> {{ImageOrganizer.servicesImages['wedding'].text.price}}</span><span class = "tax">&nbsp (plus tax)</span></span><br><br>
				<span>Includes:<br></span>
				<span ng-repeat="text in ImageOrganizer.servicesImages['wedding'].text.info">
					{{text}}<br>
				</span>
			</div>
		</md-grid-tile>
	</md-grid-list>
	<div class="clearfix"></div>
	<!-- <div class="information">
		*I believe in affordable pictures for everyone. If there is any problem with being able to make these prices, please let me know of your situation and we can discuss alternate options.
		Everyone deserves quality pictures afterall. 
	</div> -->
</div>
<center ng-show="hide"><i class="ion-load-a"></i></center>